# SPDX-FileCopyrightText: 2017 Scott Shawcroft, written for Adafruit Industries
#
# SPDX-License-Identifier: MIT

name: GitHub Release Actions

on:
  release:
    types: [published]

jobs:
  upload-release-assets:
    runs-on: ubuntu-latest
    steps:
      - uses: ./.github/workflows/build.yml
      - name: Upload Release Assets
        uses: shogo82148/actions-upload-release-asset@v1
        with:
          asset_path: "pio/build/**/*.bin"
          github-token: ${{ secrets.GITHUB_TOKEN }}
          upload-url: ${{ github.event.release.upload_url }}
